# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool:
  name: pool-azdo-resource
  demands:
  - ImageOverride -equals ubuntu

variables:
- group: global.prod

steps:
  # https://github.com/microsoft/azure-pipelines-terraform
  - task: "TerraformInstaller@1"
    displayName: 'Install Terraform'
    inputs:
      terraformVersion: '1.13.5'

  - script: terraform -version
    displayName: 'Show terraform version'

  - script: wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.93.11/terragrunt_linux_amd64
    displayName: 'Download terragrunt binary'

  - script: sudo install terragrunt_linux_amd64 /usr/local/bin/terragrunt && rm terragrunt_linux_amd64
    displayName: 'Install terragrunt'

  - script: terragrunt -v
    displayName: 'Show terragrunt version'

  - task: replacetokens@6
    displayName: 'Replace tokens in global.prod.hcl'
    inputs:
      root: '$(System.DefaultWorkingDirectory)'
      sources: 'global.prod.hcl'

  - script: bash 0-terragrunt-local-dev-plan.sh
    displayName: 'Run terragrunt local dev plan'
