name: terrascan-iac-scan
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terrascan_job:
    name: terrascan IaC scan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
    # https://github.com/actions/checkout
      - name: Clone repo
        uses: actions/checkout@v6

    # https://github.com/tenable/terrascan-action
      - name: Run Terrascan
        id: terrascan
        uses: tenable/terrascan-action@v1.4.1
        with:
          iac_type: 'terraform'
          iac_version: 'v14'
          policy_type: 'azure'
          only_warn: true
          sarif_upload: true
          non_recursive: false
          iac_dir: .
          #policy_path:
          #skip_rules:
          #config_path:
          #webhook_url:
          #webhook_token:

      # https://github.com/github/codeql-action/tree/main
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: terrascan.sarif