name: tfsec-iac-scan
on:
  pull_request:
  workflow_dispatch:

jobs:
  tfsec:
    name: tfsec IaC scan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      security-events: write

    steps:
      # https://github.com/actions/checkout
      - name: Clone repo
        uses: actions/checkout@v6

      # https://github.com/aquasecurity/tfsec-pr-commenter-action
      - name: Run tfsec PR commenter
        uses: aquasecurity/tfsec-pr-commenter-action@v1.3.1
        with:
          working_directory: .
          commenter_version: latest
          tfsec_version: latest
          soft_fail_commenter: true
          tfsec_formats: sarif,checkstyle
          github_token: ${{ github.token }}

      # https://github.com/github/codeql-action/tree/main
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif